# fly.toml app configuration file generated for blog-api on 2026-01-09T00:56:44+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blog-api'
primary_region = 'iad'

[build]
  dockerfile = 'dockerfile'

[env]
  SERVER_PORT = '8080'
  SERVER_SSL_ENABLED = 'false'

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
